#bloc_1 {
    width: 50%;
    padding: 10px;
    background: aliceblue;
    border: 2px solid black;
}

.hidden {
    background: blue;
    text-align: center;
    color: aquamarine;
    font-family: "Calibri Light", serif;
    border-bottom: 2px solid red;
}

.studentsList {
    border-bottom: 2px solid black;
}